<AuthorizeView>
    <Authorized>
        <li class="nav">
            <a class="nav-link text-light" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn btn-info"><i class="fas fa-sign-out-alt"></i> Log out</button>
            </form>
        </li>
</Authorized>
    <NotAuthorized>
        <li class="nav">
            <a class="btn btn-info btn-default" href="Identity/Account/Register"><i class="fas fa-user"></i> Register</a>
        </li>
        <li class="nav">
            &nbsp;<a class="nav-link text-light" href="Identity/Account/Login">Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>
